
<div class="example-container mat-elevation-z8">
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <form #form [formGroup]="mtformgroup">
    <mat-table #table [dataSource]="dataSource" formArrayName="formarray">
      <mat-header-row *matHeaderRowDef="['ObjId', 'id', 'name', 'email', 'state', 'city', 'street','index', 'actions']"></mat-header-row>

      <mat-row *matRowDef="let row; columns: ['ObjId', 'id', 'name', 'email','state', 'city', 'street','index', 'actions']; let i=index" #cdkrow [ngClass]="{'highlightrow': (currentRow) && row.ObjId == currentRow.ObjId}" (click)="currentRow=row;">
      </mat-row>

      <ng-container matColumnDef="ObjId">
        <mat-header-cell *matHeaderCellDef>ObjId</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.ObjId}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>MatITEM ID</mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="{'negativeNumberRed': row.Obj.id<=0}">{{row.Obj.id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell fxFlex='25%' *matHeaderCellDef>NAME</mat-header-cell>
        <mat-cell *matCellDef="let row, let i=index" fxFlex='25%' [formGroupName]="i">
          <mat-form-field fxFlex='95%'>
            <input name="inputName{{row.ObjId}}" matInput type="text" formControlName="name" (focus)="currentRow=row">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>EMAIL</mat-header-cell>
        <mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
          <mat-form-field fxFlex='95%'>
            <input name="inputEmail{{row.ObjId}}" matInput type="text" formControlName="email">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef>STATE</mat-header-cell>
        <mat-cell *matCellDef="let row; let i=index" [formGroupName]="i">
          <mat-form-field floatLabel="never" fxFlex='95%'>

            <input name="inputState{{row.ObjId}}" #inname matInput type="text" formControlName="state" [matAutocomplete]="auto" (input)="NameInputChange$.next(inname.value)">

            <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption [displayWith]="displayFn">
              <mat-option *ngFor="let opi of filteredOpis | async" [value]="opi">
                <span [innerHTML]='opi.name | highlighttxt: inname.value'></span>
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef>CITY</mat-header-cell>
        <mat-cell *matCellDef="let row; let i=index">
          <mat-form-field fxFlex='95%'>
            <input name="inputStreet{{row.ObjId}}" matInput type="text" [(ngModel)]="row.Obj.address.city" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="street">
        <mat-header-cell *matHeaderCellDef>STREET</mat-header-cell>
        <mat-cell *matCellDef="let row; let i=index">
          <mat-form-field fxFlex='95%'>
            <input name="inputStreet{{row.ObjId}}" matInput type="text" [(ngModel)]="row.Obj.address.street" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </mat-cell>
      </ng-container>



      <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;">{{i}}</mat-cell>
      </ng-container>

      <!-- actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          ACTIONS
        </mat-header-cell>
        <!--row actions -->
        <mat-cell *matCellDef="let row; let i=index;" [formGroupName]="i">
          <button mat-icon-button color="primary" (click)="deleteItem(row)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="SaveItem(row)" [disabled]="mtformarray.controls[i].invalid">
            <mat-icon>save</mat-icon>
          </button>
          <span>"row-{{i}}:" {{mtformarray.controls[i].invalid}}</span>
        </mat-cell>
      </ng-container>


    </mat-table>
    <button mat-flat-button color="primary" (click)="addNew()">Add New</button>
    <button #btnSaveAll type="submit" mat-raised-button color="primary" [disabled]="mtformgroup.invalid">
      Save All
    </button>
  </form>
  <pre>"mtformgroup.invalid:" {{mtformgroup.invalid}}</pre>
  <pre>{{currentRow | json}}</pre>
</div>

