<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="2" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Title card 1
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>

          <!--/////////////////////////////////////////////////////-->
          <!--<button (click)="addTst()">Add</button>
  <button (click)="getTst()">Get</button>
  <div [formArrayName]="testArray" *ngFor="let tst of testArray.controls; let i = index">
    <ng-container [formGroupName]="i">
      <input placeholder="Address Line 1" formControlName="address1" type="text">
      <input placeholder="Address Line 2" formControlName="address2">
      <input placeholder="City" formControlName="city">
      <input placeholder="State" formControlName="state">
    </ng-container>
  </div>-->
          <!--/////////////////////////////////////////////////////////////-->
          <!--<div formArrayName="hobbies">
    <h3>Hobbies:</h3>
    <div *ngFor="let hobby of myForm.get('hobbies')['controls']; let i = index">
      <div class="form-group">
        <label>Bezeichnung:</label>
        <input class="form-control" [formControl]="hobby.get('title')" />
      </div>
      <div class="custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" [formControl]="hobby.get('risky')" id="customCheck1" />
        <label class="custom-control-label" for="customCheck1">gefährlich?</label>
      </div>
    </div>
  </div>-->
          <!--///////////////////////////////////////////////-->

          <!--<h1>Dirty Check & Reset the Form</h1>
          <div class="row" [formGroup]="userFormGroup">
            <div class="col-12 col-sm-6 col-xl-3 ">
              <div class="form-group">
                <label>First Name</label>
                <input type="text" formControlName="firstName" class="form-control" />
              </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-3 ">
              <div class="form-group">
                <label>First Name</label>
                <input type="text" formControlName="lastName" class="form-control" />
              </div>
            </div>

            <div class="col-12 col-sm-6 col-xl-3">

    <div class="form-group" [formArrayName]="userFormGroup.controls.skills.controls[0]">
      <label>Skill Name (Nested) </label>
      <input type="text" formControlName="skillName" class="form-control" />
    </div>
    <hr />
  </div>

          </div>
          <button class="btn btn-primary" (click)="reset()">Reset</button>
          <button class="btn btn-primary" (click)="addNewArray()">Add Skill</button>-->



          <!--///////////////////////////////////////////////-->

          <form [formGroup]="form">
            <input type="checkbox" formControlName="published"> Published
            <div *ngIf="form.controls.published.value">

              <h2>Credentials</h2>
              <button (click)="addCreds()">Add</button>
              <button (click)="getCreds()">Get</button>

              <ng-container>
                <input placeholder="First Name" formControlName="firstName">
                <input placeholder="Last Name" formControlName="lastName">
              </ng-container>

              <!--<div formArrayName="credentials" *ngFor="let creds of form.controls.credentials?.value; let i = index">-->
              <div formArrayName="credentials" *ngFor="let creds of form.get('credentials').controls; let i = index">
                <ng-container [formGroupName]="i">
                  <input placeholder="Address Line 1" formControlName="address1" type="text">
                  <input placeholder="Address Line 2" formControlName="address2">
                  <input placeholder="City" formControlName="city">
                  <input placeholder="State" formControlName="state">
                </ng-container>
              </div>

            </div>
          </form>

          <div [formGroup]="orderForm">
            <div formArrayName="items"
                 *ngFor="let item of orderForm.get('items').controls; let i = index;">
              <div [formGroupName]="i">
                <input formControlName="address1" placeholder="Address 1">
                <input formControlName="address2" placeholder="Address 2">
                <input formControlName="city" placeholder="City">
                <input formControlName="state" placeholder="State">
              </div>

              <!--Chosen name: {{ orderForm.controls.items.controls[i].name.value }}-->
              Other name: {{ orderForm ?.value | json }}
            </div>
          </div>
          <button (click)="addItem()">Add</button>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="15px">
        <mat-card-header>
          <mat-card-title>
            Title
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
       
          <div class="container" *ngIf="!post; else forminfo" novalidate >
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">

              <mat-form-field class="form-element">
                <input matInput placeholder="Emailaddress" formControlName="email">
                <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
                  {{ getErrorEmail() }}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="form-element">
                <input matInput placeholder="Name" formControlName="name">
                <mat-error *ngIf="!name.valid && name.touched">
                  {{ titleAlert }}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="form-element">
                <textarea matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" formControlName="description"></textarea>
                <mat-error *ngIf="!formGroup.controls['description'].valid && formGroup.controls['description'].touched">
                  Required field, must be between 5 and 10 characters.
                </mat-error>
              </mat-form-field>

              <mat-form-field class="form-element">
                <input matInput placeholder="Password" formControlName="password">
                <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint>
                <mat-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
                  {{ getErrorPassword() }}
                </mat-error>
              </mat-form-field>

              <div class="form-element">
                <mat-checkbox formControlName="validate" value="1">Name min. 3 characters</mat-checkbox>
              </div>

              <div class="form-element">
                <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
              </div>

            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div fxlayout="column" style="background: white;">
        <mat-card class="dashboard-card" fxFlex>
          <mat-card-header>
            <mat-card-title>
              Title
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">

            <form #myForm="ngForm" id="loginForm">

              <p style="font-size: 30x;">Space Study</p>
              <p style="font-size: 14px;">Sign In</p>
              <mat-form-field class="form-row">
                <span matTooltip="Username">
                  <input matInput placeholder=" " id="username" name="username">
                </span>
                <span matPrefix><mat-icon>person&nbsp;&nbsp;</mat-icon></span>
              </mat-form-field>

              <mat-form-field class="form-row">
                <span matTooltip="Password">
                  <input matInput placeholder=" " type="password" id="password">
                </span>
                <span matPrefix><mat-icon>remove_red_eye&nbsp;&nbsp;</mat-icon></span>
              </mat-form-field>

              <button mat-raised-button color="primary" type="submit" id="btnSubmit">Login</button>

              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </form>

          </mat-card-content>
        </mat-card>
        </div>
    </mat-grid-tile>

  </mat-grid-list>
</div>
